<div class="group">
  <h3>Politicas</h3>
  <ul class="list">
    <li><button class="item-btn" data-title="S.I.C.E: Sistema de integridad y Conducta Etica" data-url="https://docs.google.com/document/d/1fkvPV1BO7aVOq_kKw0k6OGzHVse2XQdv/edit?usp=sharing&ouid=101655012510493736960&rtpof=true&sd=true
">S.I.C.E</button></li>
    <li><button class="item-btn" data-title="POLITICA 01_Proteccion y uso de datos" data-url="https://docs.google.com/document/d/10YupgRmb0JSyT2etKyo2Mi7m9E8gkB_/edit?usp=sharing&ouid=101655012510493736960&rtpof=true&sd=true
">POLITICA 01</button></li>
    <li><button class="item-btn" data-title="POLITICA 02_Etica y conflictos de interes" data-url="https://docs.google.com/document/d/1uZXldhTyDcf-FhcOC87TXS-mnPVUshW6/edit?usp=sharing&ouid=101655012510493736960&rtpof=true&sd=true
">POLITICA 02</button></li>
    <li><button class="item-btn" data-title="POLITICA 03_Inclusion y no discriminacion" data-url="https://docs.google.com/document/d/1OCA80fGuAUoxAf92nJYUGZarupOREza6/edit?usp=sharing&ouid=101655012510493736960&rtpof=true&sd=true
">POLITICA 03</button></li>
    <li><button class="item-btn" data-title="POLITICA 04_Prevencion de violencias" data-url="https://docs.google.com/document/d/1IW3QkpT7RIhN98wI_XpDoWhyzegyxvb4/edit?usp=sharing&ouid=101655012510493736960&rtpof=true&sd=true
">POLITICA 04</button></li>
    <li><button class="item-btn" data-title="POLITICA 05_Proteccion y no explotacion" data-url="https://docs.google.com/document/d/1mSlS6sQZZN_cpJWlPsewdyyRg8sZdvf6A/edit?usp=sharing&ouid=101655012510493736960&rtpof=true&sd=true
">POLITICA 05</button></li>
    <li><button class="item-btn" data-title="POLITICA 06_Anti-trata de personas" data-url="https://docs.google.com/document/d/1v_a5P0FMjPW7i3jqMxMhMyKIEVZtfY/edit?usp=sharing&ouid=101655012510493736960&rtpof=true&sd=true
">POLITICA 06</button></li>
    <li><button class="item-btn" data-title="POLITICA 07_Seguridad y salud en el trabajo (SST)" data-url="https://docs.google.com/document/d/1sCNE_7UU4QEmqWhW_ul825aq2JnTvF/edit?usp=sharing&ouid=101655012510493736960&rtpof=true&sd=true
">POLITICA 07</button></li>
    <li><button class="item-btn" data-title="POLITICA 08_Compras responsables" data-url="https://docs.google.com/document/d/19JLgexkg3cZACmUbPPOpMiG2xp0v-Bu4/edit?usp=sharing&ouid=101655012510493736960&rtpof=true&sd=true
">POLITICA 08</button></li>
    <li><button class="item-btn" data-title="POLITICA 09_Gestion de donaciones" data-url="https://docs.google.com/document/d/1fcvevlrpL05ImXf1ndtWfJu4maDLvv/edit?usp=drive_link&ouid=101655012510493736960&rtpof=true&sd=true
">POLITICA 09</button></li>
    <li><button class="item-btn" data-title="POLITICA 10_SARLAFT" data-url="https://docs.google.com/document/d/1mBQrVGukrmNFSZleFZuC8NHW4PFNhojx/edit?usp=drive_link&ouid=101655012510493736960&rtpof=true&sd=true
">POLITICA 10</button></li>
  </ul>
</div>

<div class="group">
  <h3>Libraries</h3>
  <ul class="list">
    <li><button class="item-btn" data-title="S.I.C.E: Library" data-url="*****">S.I.C.E: Library</button></li>
    <li><button class="item-btn" data-title="TBD1" data-url="*****">TBD</button></li>
    <li><button class="item-btn" data-title="TBD2" data-url="*****">TBD</button></li>
  </ul>
</div>
