<div class="group">
  <h3>S.G.C.</h3>
  <ul class="list">
    <li><button class="item-btn" data-title="S.G.C: Mapa de Procesos" data-url="https://drive.google.com/file/d/1XNENrPYRIFcNT6W7cUI6xCz7_m7Xgxe3/preview">S.G.C: Mapa de Procesos</button></li>
    <li><button class="item-btn" data-title="FCP_PE_Gestión Estratégica" data-url="">FCP_PE_Gestión Estratégica</button></li>
    <li><button class="item-btn" data-title="FCP_PE_Cooperación" data-url="">FCP_PE_Cooperación</button></li>
    <li><button class="item-btn" data-title="FCP_PE_Relacionamiento" data-url="">FCP_PE_Relacionamiento</button></li>
    <li><button class="item-btn" data-title="FCP_PM_Gestión Comercial" data-url="">FCP_PM_Gestión Comercial</button></li>
    <li><button class="item-btn" data-title="FCP_PM_Operaciones – Empresas" data-url="">FCP_PM_Operaciones – Empresas</button></li>
    <li><button class="item-btn" data-title="FCP_PM_Operaciones – Personas y Familias" data-url="">FCP_PM_Operaciones – Personas y Familias</button></li>
    <li><button class="item-btn" data-title="FCP_PM_Operaciones – Experiencias" data-url="">FCP_PM_Operaciones – Experiencias</button></li>
    <li><button class="item-btn" data-title="FCP_PM_Operaciones – Proyectos" data-url="">FCP_PM_Operaciones – Proyectos</button></li>
    <li><button class="item-btn" data-title="FCP_PA_Marketing y Comunicación" data-url="">FCP_PA_Marketing y Comunicación</button></li>
    <li><button class="item-btn" data-title="FCP_PA_Gestión del Talento Humano (GTH)" data-url="">FCP_PA_Gestión del Talento Humano (GTH)</button></li>
    <li><button class="item-btn" data-title="FCP_PA_Finanzas" data-url="">FCP_PA_Finanzas</button></li>
    <li><button class="item-btn" data-title="FCP_PA_Gobernanza y Cumplimiento" data-url="">FCP_PA_Gobernanza y Cumplimiento</button></li>
    <li><button class="item-btn" data-title="FCP_PA_Tecnología" data-url="">FCP_PA_Tecnología</button></li>
    <li><button class="item-btn" data-title="FCP_PA_Seguimiento y Evaluación" data-url="">FCP_PA_Seguimiento y Evaluación</button></li>
    <li><button class="item-btn" data-title="FCP_PA_Investigación, Desarrollo e Innovación (I+D+i)" data-url="">FCP_PA_Investigación, Desarrollo e Innovación (I+D+i)</button></li>
  </ul>
</div>

<div class="group">
  <h3>S.I.C.E.</h3>
  <ul class="list">
    <li><button class="item-btn" data-title="S.I.C.E: Sistema de Integridad y Conducta Ética" data-url="https://docs.google.com/document/d/1fkvPV1BO7aVOq_kKw0k6OGzHVse2XQdv/edit?usp=sharing&ouid=101655012510493736960&rtpof=true&sd=true">S.I.C.E: Sistema de Integridad y Conducta Ética</button></li>
    <li><button class="item-btn" data-title="Política 01_Protección y uso de datos" data-url="https://docs.google.com/document/d/10YupgRmbOJSyT2etKyo2lMi7m9E8gkB_/edit?usp=sharing&ouid=101655012510493736960&rtpof=true&sd=true">Política 01: Protección y uso de datos</button></li>
    <li><button class="item-btn" data-title="Política 02_Ética y conflictos de interés" data-url="https://docs.google.com/document/d/1uZXldhTyDcf-FhcOC87TXS-mnPVUShW6/edit?usp=sharing&ouid=101655012510493736960&rtpof=true&sd=true">Política 02: Ética y conflictos de interés</button></li>
    <li><button class="item-btn" data-title="Política 03_Inclusión y no discriminación" data-url="https://docs.google.com/document/d/1OCA8QfGuUAoxAf9znJYUGZarupQREza6/edit?usp=sharing&ouid=101655012510493736960&rtpof=true&sd=true">Política 03: Inclusión y no discriminación</button></li>
    <li><button class="item-btn" data-title="Política 04_Prevención de violencias" data-url="https://docs.google.com/document/d/1IW3QkpT7RIhN98wI_XpDoWyhzeygxvb4/edit?usp=sharing&ouid=101655012510493736960&rtpof=true&sd=true">Política 04_Prevención de violencias</button></li>
    <li><button class="item-btn" data-title="Política 05_Protección y no explotación" data-url="https://docs.google.com/document/d/1mSlS6sQZZN_CpWJPsewdyWgRsZdvfV6A/edit?usp=sharing&ouid=101655012510493736960&rtpof=true&sd=true">Política 05_Protección y no explotación</button></li>
    <li><button class="item-btn" data-title="Política 06_Anti-trata de personas" data-url="https://docs.google.com/document/d/1v_a5PZ0MfJPwi713qiMxMhMyKIEVZftY/edit?usp=sharing&ouid=101655012510493736960&rtpof=true&sd=true">Política 06_Anti-trata de personas</button></li>
    <li><button class="item-btn" data-title="Política 07_SST" data-url="https://docs.google.com/document/d/1sCNE_7UU4QEmqWhW_uLl825aq2JnTvlF/edit?usp=sharing&ouid=101655012510493736960&rtpof=true&sd=true">Política 07_SST</button></li>
    <li><button class="item-btn" data-title="Política 08_Compras responsables" data-url="https://docs.google.com/document/d/19JLgexkq3cZACmUbPPOpMiG2xp0y-Bu4/edit?usp=sharing&ouid=101655012510493736960&rtpof=true&sd=true">Política 08_Compras responsables</button></li>
    <li><button class="item-btn" data-title="Política 09_Gestión de donaciones" data-url="https://docs.google.com/document/d/1fcvevlrpLO5ImtXF1ndtWtfJu4maDluv/edit?usp=drive_link&ouid=101655012510493736960&rtpof=true&sd=true">Política 09_Gestión de donaciones</button></li>
    <li><button class="item-btn" data-title="Política 10_SARLAFT" data-url="https://docs.google.com/document/d/1mBQrVGukrmNFSZleFZuC8NHW4PFNhojx/edit?usp=drive_link&ouid=101655012510493736960&rtpof=true&sd=true">Política 10_SARLAFT</button></li>
  </ul>
</div>

<div class="group">
  <h3>Librerías</h3>
  <ul class="list">
    <li><button class="item-btn" data-title="S.I.C.E: Normatividad" data-url="https://drive.google.com/drive/folders/1NeCLhnjUic3xWmD0oTfpTXfSRGqYiCTk?usp=sharing">S.I.C.E: Normatividad</button></li>
    <li><button class="item-btn" data-title="Documentos Legales" data-url="https://drive.google.com/drive/folders/1aY0gF2bdU7Nq_gmQm04cTp10-3fOlYQv?usp=sharing">Documentos Legales</button></li> 
  </ul>
</div>

<div class="group">
  <h3>Links convenientes</h3>
  <ul class="list">
    <li><button class="item-btn" data-title="Siigo Nube" data-url="https://siigonube.siigo.com/">Siigo Nube</button></li>
    <li><button class="item-btn" data-title="DIAN - Muisca" data-url="https://muisca.dian.gov.co/WebIdentidadLogin/?ideRequest=eyJjbGllbnRJZCI6IldvMGFLQWxCN3ZSUF8xNmZyUEkxeDlacGhCRWEiLCJyZWRpcmVjdF91cmkiOiJodHRwOi8vbXVpc2NhLmRpYW4uZ292LmNvL0lkZW50aWRhZFJlc3RfTG9naW5GaWx0cm8vYXBpL3N0cy92MS9hdXRoL2NhbGxiYWNrP3JlZGlyZWN0X3VyaT1odHRwJTNBJTJGJTJGbXVpc2NhLmRpYW4uZ292LmNvJTJGV2ViQXJxdWl0ZWN0dXJhJTJGRGVmTG9naW4uZmFjZXMiLCJyZXNwb25zZVR5cGUiOiIiLCJzY29wZSI6IiIsInN0YXRlIjoiIiwibm9uY2UiOiIiLCJwYXJhbXMiOnsidGlwb1VzdWFyaW8iOiJtdWlzY2EifX0%3D">DIAN – Muisca</button></li>
    <li><button class="item-btn" data-title="Monday.com" data-url="https://diversolab-company.monday.com/">Monday.com</button></li>
    <li><button class="item-btn" data-title="GitHub Login" data-url="https://github.com/login">GitHub</button></li>
    <li><button class="item-btn" data-title="Wix" data-url="https://www.wix.com/">Wix</button></li>
    <li><button class="item-btn" data-title="GoDaddy" data-url="https://www.godaddy.com/es">GoDaddy</button></li>
  </ul>
</div>
