<div class="group">
  <h3>Politicas</h3>
  <ul class="list">
    <li><button class="item-btn" data-title="S.I.C.E: Sistema de integridad y Conducta Ética" data-url="https://docs.google.com/document/d/1fkvPV1BO7aVOq_kKw0k6OGzHVse2XQdv/edit?usp=sharing&ouid=101655012510493736960&rtpof=true&sd=true">S.I.C.E</button></li>
    <li><button class="item-btn" data-title="Política 01_Protección y uso de datos" data-url="https://docs.google.com/document/d/10YupgRmb0JSyT2etKyo2Mi7m9E8gkB_/edit?usp=sharing&ouid=101655012510493736960&rtpof=true&sd=true">Política 01</button></li>
    <li><button class="item-btn" data-title="Política 02_Ética y conflictos de interés" data-url="https://docs.google.com/document/d/1uZXldhTyDcf-FhcOC87TXS-mnPVUshW6/edit?usp=sharing&ouid=101655012510493736960&rtpof=true&sd=true">Política 02</button></li>
    <li><button class="item-btn" data-title="Política 03_Inclusión y no discriminación" data-url="https://docs.google.com/document/d/1OCA80fGuAUoxAf92nJYUGZarupOREza6/edit?usp=sharing&ouid=101655012510493736960&rtpof=true&sd=true">Política 03</button></li>
    <li><button class="item-btn" data-title="Política 04_Prevención de violencias" data-url="https://docs.google.com/document/d/1IW3QkpT7RIhN98wI_XpDoWhyzegyxvb4/edit?usp=sharing&ouid=101655012510493736960&rtpof=true&sd=true">Política 04</button></li>
    <li><button class="item-btn" data-title="Política 05_Protección y no explotación" data-url="https://docs.google.com/document/d/1mSlS6sQZZN_cpJWlPsewdyyRg8sZdvf6A/edit?usp=sharing&ouid=101655012510493736960&rtpof=true&sd=true">Política 05</button></li>
    <li><button class="item-btn" data-title="Política 06_Anti-trata de personas" data-url="https://docs.google.com/document/d/1v_a5P0FMjPW7i3jqMxMhMyKIEVZtfY/edit?usp=sharing&ouid=101655012510493736960&rtpof=true&sd=true">Política 06</button></li>
    <li><button class="item-btn" data-title="Política 07_Seguridad y salud en el trabajo (SST)" data-url="https://docs.google.com/document/d/1sCNE_7UU4QEmqWhW_ul825aq2JnTvF/edit?usp=sharing&ouid=101655012510493736960&rtpof=true&sd=true">Política 07</button></li>
    <li><button class="item-btn" data-title="Política 08_Compras responsables" data-url="https://docs.google.com/document/d/19JLgexkg3cZACmUbPPOpMiG2xp0v-Bu4/edit?usp=sharing&ouid=101655012510493736960&rtpof=true&sd=true">Política 08</button></li>
    <li><button class="item-btn" data-title="Política 09_Gestión de donaciones" data-url="https://docs.google.com/document/d/1fcvevlrpL05ImXf1ndtWfJu4maDLvv/edit?usp=drive_link&ouid=101655012510493736960&rtpof=true&sd=true">Política 09</button></li>
    <li><button class="item-btn" data-title="Política 10_SARLAFT" data-url="https://docs.google.com/document/d/1mBQrVGukrmNFSZleFZuC8NHW4PFNhojx/edit?usp=drive_link&ouid=101655012510493736960&rtpof=true&sd=true">Política 10</button></li>
  </ul>
</div>

<div class="group">
  <h3>Libraries</h3>
  <ul class="list">
    <li><button class="item-btn" data-title="S.I.C.E: Library" data-url="*****">S.I.C.E: Library</button></li>
    <li><button class="item-btn" data-title="TBD1" data-url="*****">TBD</button></li>
    <li><button class="item-btn" data-title="TBD2" data-url="*****">TBD</button></li>
  </ul>
</div>
